/*stylesheet*/

body {
	margin: 0;	
	background: black;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
}

h1, h2, h3, h4, p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1, h2 {
	font-weight: 700;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
}

#main {
	background: #333;
	margin: 2em;
	padding: 2em;
}

#sidebar {
	/*background: pink;*/
}

#logo {
	padding: 3em 0;
}

#logo h1 {
	margin: 0;
}

#logo img, .item img {
	width: 100%;
	height: auto;
}

.item img {
	margin-bottom: 2em;
}

#content {
	/*background: red;*/
}

#nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0
}

#nav li {
	margin-bottom: 1em;
}

#nav li a {
	color: white;
	transition: all .3s ease-in-out;
}

#nav li a:hover {
	color: brown;
	text-decoration: none;
	background: white;
}

.quote-holder {
	height: 40vh;
	background: brown;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 3em;
	margin-bottom: 2em;
}

.quote {
	font-size: 2em;
}

#exquisite {
	position: relative;
	margin-bottom: 2em;
}

#exquisite .grid {
	grid-gap: 0;
}

#exquisite .grid img {
	margin-bottom: 0;
}

#projects {
	margin-bottom: 2em;
}

#projects .grid-item {
	color: white;
	position: relative;
}

#projects .grid-item img {
	display: block;
	width: 100%;
	height: auto;
}

#projects .grid-item .overlay {
	transition: opacity .3s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .grid-item:hover .overlay {
	opacity: 1;
}

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
}

/* Page specific styles */

body.p1 {
	background-image: url("../images/clouds.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* ------------ */

@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}

}