/*stylesheet*/

body {
	margin: 0;	
	background: black;
	color: white;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
}

h1, h2 {
	font-weight: 200;
}

div {
	width: 600px;
	height: 600px;
	background: green;
	margin: 2em;
	padding: 2em;
}